* {
  margin: 0; /*  zerar a margem externa dos elementos */
  padding: 0; /*zerar a margem interna dos elementos */
}

header {
  /* Vamos adicionar uma imagem de fundo ao cabeçalho */
  background-image: url("../img/fundo7.jpg");
  background-position: 0px -200px;
  height: 300px; /*altura do cabeçalho*/
  transition: ease 2s;
}

h1 {
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: "Questrial", sans-serif; /* Fonte */

  font-size: 100px;
  padding-top: 100px; /*margem do topo */
  text-shadow: 5px 5px 1px rgb(0 0 0);
}

/* Vamos formatar os elementos de li para ficar 
um ao lado do outro com o comando display */

nav ul li {
  /* dispor os links um ao lado do outro */
  display: inline-block;

  /* cor na borda do LI */
  /* border: 1px solid red; */
  margin-left: 10px;
  margin-right: 10px;
}

/* Alinhar os elementos de link ao centro usando 
text-aling:center no nav, assim tudo que estiver dentro do nav
irá para o centro */
nav {
  text-align: center;
  margin-top: 41px;
  /* A cor utilizada para o fundo da barra nav foi o RGBa, que significa
  red, green, blue e alpha ( tranparencia), onde o valor mais próximo do 
  0 (zero) é totalmente transparente e quando mais próximo do 1 é totalmente 
  sólido. Neste caso usando 50% de solidez, ou seja, aplicamos 50% de transparencia  */
  background-color: rgba(255, 255, 255, 0.5);

  /* Aumentando o tamanho da caixa */
  padding-top: 10px;
  padding-bottom: 10px;
}

nav ul li a {
  color: rgb(0, 0, 0);
  /* para retirar o sublinhado (underline) dos links
  utilizaremos o comando text-decoration com o valor 
  none (nenhum)  */
  text-decoration: none;
  font-family: "Anton", sans-serif;

  /* Aplicação de negrito na letra  */
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
  color: rgb(100 0 0);
  padding: 20px;
  transition: ease 1s;
  /* background-color: rgb(0, 0, 0); */
}

/* Criação da formatação do rodapé(footer) */
footer {
  background-color: rgb(31, 22, 20);
  text-align: center;
  color: white;
  font-family: "Patua One", cursive;
  font-size: 20px;
  padding-top: 10px;
}

div ul li {
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
}

div a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

main {
  /* Vamos aplicar uma margem interna de 10px
  usando o comando padding */
  padding: 10px;
}

h2 {
  font-family: "Questrial", sans-serif;
  color: brown;
  font-size: 20pt;
  /* solid */
  border-bottom: 4px double brown;
  padding-left: 100px;

  margin-bottom: 30px;
}

h3 {
  font-family: "Questrial", sans-serif;
  margin-left: 58px;
  font-size: 15pt;
  margin-bottom: 10px;
  /* espaçamento das letras */
  letter-spacing: 1px;
}

p {
  padding-left: 60px;
  padding-right: 60px;
  /* alinha o texto dos dois lados */
  text-align: justify;

  /* aplicaremos um comando que aumenta a altura da linha. Esse efeito
simula o espaçamento entre linhas encontrado no Word. O comando é
 line-height -> linha height */
  line-height: 25px;
  margin-bottom: 30px;
  font-family: "Questrial", sans-serif;
}

#home {
  /* background-color: rgba(255, 0, 0, 0.26); */
  text-align: center;
  margin: 10px;
}

#home img {
  height: 600px;
  width: 600px;
  /* Descola uma imagem da outra */
  margin: 10px;

  /* Vamos aplicar um efeito de tranparência com 
  o comando opacity. Onde os valores 1 é totalmente 
  vísivel e 0 é totalmente transparente  */
  opacity: 0.8;
  border-radius: 10%;
  transition: ease 2s;
}

/* hover é quando você passe o mouse */
#home img:hover {
  opacity: 1;
  transform: scale(1.1);
  cursor: pointer;
  /* transform: rotate(360deg); */
  /* transform: rotateX(360deg); */
  /* transform: rotateY(360deg); */
}

#acafeteria {
  text-align: center;
}
#acafeteria img {
  width: 600px;
  height: 400px;
}
#acafeteria iframe {
  margin-left: auto;
  margin-right: auto;
}

/* #video {
  text-align: center;        /*PARA CENTRALIZARO VÍDEO
} */

/* Abaixo a formatação para a página  cardápio
#container,
#linha,
#imagem,
#texto {
  border: 1px solid red;
} */

#container {
  display: inline-block;
  /* border-bottom: 1px solid silver; */
  margin-bottom: 50px;
  box-shadow: 0px 5px 10px silver;
}

#linha {
  display: table;
  width: 80%;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 20px;
}

#imagem img {
  width: 250px;
  height: 200px;
}

#imagem {
  width: 250px;
  height: 200px;
  /* fazer a imagem flutuar para a esquerda  */
  float: left;
}

#texto {
  padding: 20px;
  width: 70%;
  float: left;
}

form {
  box-shadow: 0px 1px 10px silver;
  /* border: 2px solid red; */
  width: 50%;
  /* MARGIN -> movimenta a caixa */
  /* PADDING O TEXTO */
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
  font-family: Varela Round;
}

label {
  /* para dispor os elementos um abaixo do outro 
  utilizaremos o comando display block */
  display: block;
  /* e para aplicar o negrito usamos o comando 
  font-weight com o valor bold */
  font-weight: bold;
  font-size: 15px;
}

/* formatando o elemento input com o type text */
input[type="text"],
input[type="email"],
input[type="tel"] {
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
  border: 0;
  border-bottom: 1px solid silver;
  /* border-radius: 10px; */
  /* background-color: rgb(0 0 0); */
}

/* Criando uma exceção para o tamanho da formatação acima
    Aproveitando código.  */
input[type="tel"] {
  width: 20%;
  border: 1px solid silver;
  padding: 4px;
}

#sexo {
  display: block;
  margin-bottom: 15px;
}

select {
  padding: 10px;
  width: 20%;
  margin-bottom: 15px;
}

select.option:hover {
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 5px;
}

textarea {
  width: 60%;
  height: 300px;
  display: block;
}

/* mexendo no botão "enviar" */
input[type="submit"] {
  display: block;
  border: 0px;
  color: white;
  padding: 10px;
  background-color: brown;
  cursor: pointer;
}
