* {
  margin: 0; /*  zerar a margem externa dos elementos */
  padding: 0; /*zerar a margem interna dos elementos */
}

header {
  /* Vamos adicionar uma imagem de fundo ao cabeçalho */
  background-image: url("../img/fundo7.jpg");
  background-position: 0px -200px;
  height: 300px; /*altura do cabeçalho*/
  transition: ease 2s;
}

h1 {
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: "Questrial", sans-serif; /* Fonte */

  font-size: 100px;
  padding-top: 100px; /*margem do topo */
  text-shadow: 5px 5px 10px rgb(0 0 0);
}

/* Vamos formatar os elementos de li para ficar 
um ao lado do outro com o comando display */

nav ul li {
  /* dispor os links um ao lado do outro */
  display: inline-block;

  /* cor na borda do LI */
  /* border: 1px solid red; */
  margin-left: 10px;
  margin-right: 10px;
}

/* Alinhar os elementos de link ao centro usando 
text-aling:center no nav, assim tudo que estiver dentro do nav
irá para o centro */
nav {
  text-align: center;
  margin-top: 41px;
  /* A cor utilizada para o fundo da barra nav foi o RGBa, que significa
  red, green, blue e alpha ( tranparencia), onde o valor mais próximo do 
  0 (zero) é totalmente transparente e quando mais próximo do 1 é totalmente 
  sólido. Neste caso usando 50% de solidez, ou seja, aplicamos 50% de transparencia  */
  background-color: rgba(255, 255, 255, 0.5);

  /* Aumentando o tamanho da caixa */
  padding-top: 10px;
  padding-bottom: 10px;
}

nav ul li a {
  color: rgb(0, 0, 0);
  /* para retirar o sublinhado (underline) dos links
  utilizaremos o comando text-decoration com o valor 
  none (nenhum)  */
  text-decoration: none;
  font-family: "Anton", sans-serif;

  /* Aplicação de negrito na letra  */
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
  color: rgb(100 0 0);
  padding: 20px;
  transition: ease 1s;
  /* background-color: rgb(0, 0, 0); */
}

/* Criação da formatação do rodapé(footer) */
footer {
  background-color: rgb(31, 22, 20);
  text-align: center;
  color: white;
  font-family: "Patua One", cursive;
  font-size: 20px;
  padding-top: 10px;
}

div ul li {
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
}

div a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}